* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-overflow-scrolling: touch;
  touch-action: manipulation;
  scrollbar-color: $N0 transparent;
  scrollbar-width: thin;
  ::-webkit-scrollbar {
    width: 2px;
    border-radius: 1px;
    min-width: 2px;
    background: $N00;
  }
  ::-webkit-scrollbar-thumb {
    width: 2px;
    border-radius: 1px;
    min-width: 2px;
    background: $N0;
  }
  ::-webkit-scrollbar-track {
    background: transparent;
    background-clip: content-box;
  }
}

body,
input,
a,
button,
textarea {
  font-family: $base-font;
}

html,
body {
  background-color: $BG-COLOR;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul {
  list-style: none;
}

button,
a {
  text-decoration: none;
  outline: none;
  border: none;
  background-color: transparent;
}

code,
pre {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.hidden-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
