%container {
  padding-left: 24px;
  padding-right: 24px;
  @include media($screen-desktop) {
    margin: 0 auto;
    max-width: 800px;
  }
}

%py {
  padding-top: 24px;
  padding-bottom: 24px;
}
%px {
  padding-left: 24px;
  padding-right: 24px;
  @include media($screen-tablet) {
    padding-left: 48px;
    padding-right: 48px;
  }
}