%container {
  padding-left: 24px;
  padding-right: 24px;
  @include media($screen-desktop) {
    margin: 0 auto;
    max-width: 800px;
  }
}

%py {
  padding-top: 24px;
  padding-bottom: 24px;
}
%px {
  padding-left: 24px;
  padding-right: 24px;
  @include media($screen-tablet) {
    padding-left: 48px;
    padding-right: 48px;
  }
}

%input {
  width: 100%;
  min-height: 32px;
  @include flex(flex-start, center);
  @include text($H12, 400, $G2);
  background-color: $dark;
  padding-left: 12px;
  padding-right: 12px;
  border-radius: 2px;
  border: 1px solid $G7;
  outline: none;
  @include transition(all);
  @include media {
    &:hover {
      border-color: lighten($G7, 10%);
    }
  }
  &::placeholder {
    @include text($H12, 400, $G6);
  }
  &:focus {
    border-color: $G6;
  }
  &:disabled {
    background-color: $darken;
    border-color: $G8;
  }
}

%label {
  display: inline-block;
  margin-bottom: 8px;
  @include text($H11, 500);
}

%block-style {
  background-color: $dark;
  border-radius: 2px;
}

%overview-col-name {
  @include text($H10, 500, $G4);
  text-transform: uppercase;
  margin-bottom: 11px;
}

%overview-col-value {
  @include text($H16, 400, $N0);
}
