%container {
  margin: 0 auto;
  max-width: 1600px;
}

%py {
  padding-top: 24px;
  padding-bottom: 24px;
}
%px {
  padding-left: 24px;
  padding-right: 24px;
  @include media($screen-tablet) {
    padding-left: 48px;
    padding-right: 48px;
  }
}

%input {
  width: 100%;
  min-height: 32px;
  @include flex(flex-start, center);
  @include text($H12, 400, $G2);
  background-color: $dark;
  padding-left: 12px;
  padding-right: 12px;
  border-radius: 2px;
  border: 1px solid $G7;
  outline: none;
  @include transition(all);
  @include media {
    &:hover {
      border-color: lighten($G7, 10%);
    }
  }
  &::placeholder {
    @include text($H12, 400, $G6);
  }
  &:focus {
    border-color: $G6;
  }
  &:disabled {
    background-color: $darken;
    border-color: $G8;
    &::placeholder {
      color: $G7;
    }
  }
}

%label {
  display: inline-block;
  margin-bottom: 8px;
  line-height: 1;
  @include text($H11, 500);
}

%block-style {
  background-color: $dark;
  border-radius: 2px;
}

%overview-col-name {
  @include text($H10, 500, $G4);
  text-transform: uppercase;
  margin-bottom: 11px;
}

%overview-col-value {
  @include text($H16, 400, $N0);
}

%noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

%rotate {
  transform: rotateX(180deg);
}

%transparent-csrollbar {
  &::-webkit-scrollbar {
    background: transparent;
  }
}

%filter-header {
  padding: 3px 16px 0;
}

%filter-body {
  padding: 0 16px 13px;
  min-width: 120px;
}

%custom-radio {
  margin-bottom: 16px;
}

%input-symbol {
  position: absolute;
  right: 10px;
  bottom: 6px;
  z-index: 1;
  @include text($H12, 400, $G2);
}
